@using Ti_Fate.Core.DomainModel
@using Ti_Fate.Core.Service
@using Ti_Fate.Core.Tools
@using Ti_Fate.Extensions
@model Ti_Fate.ViewModels.ManageClubsInfoViewModel
@{
    var loginSession = Context.Session.GetObject<LoginSession>("LoginSession");
}
<div class="row container-fluid">
    <label class="btn-lg btn-success btn-round animation-on-hover">
        @{
            if (PermissionsService.IsClubs(loginSession.Permission))
            {
                <i class="tim-icons icon-pin" style="margin-bottom: 5%; margin-right: 10px"></i>
                <span>新增社團公告</span>

            }
            else
            {
                <i class="tim-icons icon-pin" style="margin-bottom: 5%; margin-right: 10px"></i>
                <span>編輯社團公告</span>
            }
        }
    </label>
</div>
<hr />
<form asp-controller="ManageClubsInfo" asp-action="ManageClubsInfo" method="post" class="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" id="myCustomSummary"></div>
    <input asp-for="PublishTime" value="@Model.PublishTime?.ToString("s")" type="datetime-local" hidden />
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h4 class="header-title">社團名稱</h4>
                            <select class="form-control btn btn-secondary dropdown-toggle" asp-for="ClubId" value="@Model.ClubId">
                                @foreach (var selectListItem in Model.ClubNameSelectList)
                                {
                                    <option class="dropdown-item" value="@selectListItem.Value">@selectListItem.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <h4 class="header-title">公告標題</h4>
                            <input asp-for="Title" class="form-control" placeholder="請輸入公告標題..." />
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <h4 class="header-title">開始時間</h4>
                                <input id="StartDate" asp-for="StartTime" value="@Model.StartTime?.ToString("s")" type="datetime-local" class="form-control" min="2020-01-01" onchange="checkDate()">
                                <small class="form-text text-muted">請輸入活動開始時間</small>
                            </div>
                            <div class="col">
                                <h4 class="header-title">結束時間</h4>
                                <input id="EndDate" asp-for="EndTime" value="@Model.EndTime?.ToString("s")" type="datetime-local" class="form-control">
                                <small class="form-text text-muted">請輸入活動結束時間，若未填寫則不顯示</small>
                            </div>
                        </div>


                        <textarea id="summernote" asp-for="Content"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <a href="@Url.Action("Home","Home", new{profileId = @Model.Id})" class="btn btn-success btn-lg animation-on-hover">
                        取消
                    </a>
                    <button class="btn btn-success btn-lg animation-on-hover" style="margin: 10px auto">
                        送出
                    </button>
                    @if (!PermissionsService.IsClubs(loginSession.Permission))
                    {
                        <a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-lg animation-on-hover" style="margin: 10px auto">
                            刪除
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">刪除公告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>確定要刪除此篇公告嗎？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeleteClubsInfo", "ManageClubsInfo", new {id = Model.Id, announcementType = "Welfare" })'">確定刪除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/plugins/summernote.js"></script>
<script src="~/js/CheckDate.js"></script>

