@using Ti_Fate.Extensions
@using Ti_Fate.Core.DomainModel
@using Ti_Fate.Core.Service
@model Ti_Fate.ViewModels.ExternalInfofViewModel

@{
    var loginSession = Context.Session.GetObject<LoginSession>("LoginSession");
}

<div class="row container-fluid">
    <label class="btn-lg btn-success btn-round animation-on-hover">
        <i class="tim-icons icon-pin" style="margin-bottom: 5%; margin-right: 10px"></i>外部研討
    </label>
    @if (PermissionsService.IsExternal(loginSession.Permission))
    {
        <div class="ml-auto">
            <a asp-controller="ManageExternalInfo" asp-action="AddExternalInfo" asp-route-announcementType="External" class="btn btn-info btn-simple">
                <i class="tim-icons icon-simple-add"></i>
                <p class="d-lg-inline-block text-info">新增公告</p>
            </a>
        </div>
    }
</div>
<hr />
<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">

    @foreach (var externalInfo in Model.DomainModelList)
    {
        <div class="card card-body">
            <a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#announcement-@externalInfo.Id">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="tim-icons icon-pin"></i>
                        @externalInfo.Title
                    </h3>
                    @if (PermissionsService.IsExternal(loginSession.Permission))
                    {
                        <div class="flex-column-reverse">
                            <label onclick="location.href = '@Url.Action("EditExternalInfo", "ManageExternalInfo", new {id = externalInfo.Id, announcementType = "External"})'" class="btn btn-info btn-simple btn-icon btn-round">
                                <p class="tim-icons icon-pencil"></p>
                            </label>
                            <label class="btn btn-info btn-simple btn-icon btn-round btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="GetId(@externalInfo.Id)">
                                <p class="tim-icons icon-trash-simple"></p>
                            </label>
                            <input value="" id="getId" hidden="" disabled="" />
                        </div>
                    }
                </div>
                <h5>發布時間｜@externalInfo.PublishTime</h5>
                <h5>活動時間｜@externalInfo.StartTime ～ @externalInfo.EndTime </h5>
                <div class="text-center">
                    <i class="tim-icons icon-minimal-down text-success"></i>
                </div>
            </a>
            <div id="announcement-@externalInfo.Id" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    <h3 class="btn-simple text-info">公告內容</h3>
                    <p>
                        @Html.Raw(externalInfo.Content)
                    </p>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">刪除公告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>確定要刪除此篇公告嗎？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DeleteExternal()">確定刪除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    function GetId(Id) {
        $('#getId').val(Id);
    }

    function DeleteExternal() {
        var id = $('#getId').val();
        window.location.href = '@Url.Action("DeleteExternalInfo", "ManageExternalInfo", new {id = "ID", announcementType = "External" })'
            .replace("ID", parseInt(id));
    };
</script>