<div class="row container-fluid">
    <label class="btn-lg btn-success btn-round animation-on-hover">
        <i class="tim-icons icon-shape-star" style="margin-bottom: 5%; margin-right: 10px"></i> 新人介紹
    </label>
</div>
<hr>
<div class="col-12" id="newComing">
    <div v-for="oneMonth in allNewComing">
        <label class="btn-lg btn-warning h4 text-center font-weight-bolder animation-on-hover">
            {{oneMonth.month}} 月新人
        </label>
        <div class="row">
            <div v-for="profile in oneMonth.profileList" class="col-md-2  d-flex align-content-stretch flex-wrap">
                <a v-on:click="toProfilePage(profile.id)" class="card" href="#">
                    <div class="card-body text-center ">
                        <img class="avatar" style="width: 70px; height: 70px" :src="profile.firstPicture|srcEditor" alt="profile照片">
                        <hr>
                        <span :class="locationType(profile.location)">{{profile.location}}</span>
                        <hr>
                        <h4>{{profile.name}}</h4>
                        <hr>
                        <h5 class="card-description">
                            {{profile.position}}/{{profile.department}}/{{profile.teamName}}
                        </h5>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>

<script>
    fetch('@Url.Action("GetNewComingProfileWithMonth", "NewComing")')
        .then(function(response) {
            response.json().then(function(data) {
                console.log(data);
                app._data.allNewComing[0].profileList = data.firstMonth;
                app._data.allNewComing[1].profileList = data.secondMonth;
                app._data.allNewComing[2].profileList = data.thirdMonth;
            });
        });

    var app = new Vue({
        el: '#newComing',
        data: {
            allNewComing: [
                {
                    month: @DateTime.Now.Month ,
                    profileList: null
                }, {
                    month: @(DateTime.Now.Month-1),
                    profileList: null
                }, {
                    month: @(DateTime.Now.Month-2),
                    profileList: null
                }
            ]
        },
        methods: {
            toProfilePage: function (id) {
                window.location.href = '@Url.Action("Profile", "Profile", new {profileId = "ID"})'.replace("ID", parseInt(id));
            },
            locationType: function (type) {
                if (type === "臺中") {
                    return 'badge badge-pill badge-success';
                } else {
                    return 'badge badge-pill badge-info';
                }
            }
        },
        filters: {
            srcEditor: function(value) {
                return value.toString().replace("~", "");
            }
        }
    });
</script>
